
# -------------------------
# API / Backend
# -------------------------
fastapi[standard]
uvicorn
python-multipart

# -------------------------
# Configuration
# -------------------------
python-dotenv
pydantic
pydantic-settings

# -------------------------
# PDF Processing
# -------------------------
pymupdf

# -------------------------
# LLM / LangChain
# -------------------------
langchain
langchain-core
langchain-community
langchain-google-genai==4.4.0
langchain-text-splitters

# -------------------------
# Embeddings / Vector Search
# -------------------------
sentence-transformers
faiss-cpu
numpy

# -------------------------
# Google / Gemini
# -------------------------
google-genai

# -------------------------
# Database
# -------------------------
sqlalchemy
psycopg2-binary

# -------------------------
# Data / Evaluation
# -------------------------
pandas

# -------------------------
# Data Generation
# -------------------------
faker
reportlab

# -------------------------
# Testing & Evaluation
# -------------------------
pytest
httpx
ragas

# -------------------------
# Frontend
# -------------------------
streamlit